.basket-image img {
  vertical-align: middle;
  height: 60px;
  width: auto;
}

.donation-info {
  font-size: 75px;
  text-align: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}



.form-horizontal legend {
  font-size: 70px;
}

.form-horizontal label {
  font-size: 40px;
}

.form-horizontal input {
  height: 60px;
  font-size: 40px;
}

.basket-info ul{
  text-align: center;
  list-style-type: none;
}

.donation-button{
  height: 200px;
  font-size: 40px;
}

.basket-container.basket-info {
  margin-top: 0px;
}
.center {
  text-align: center;
}
.super-spacer{
  height: 200px;
  color: white;
}