.home-container {
  background: url(../assets/images/slum.jpeg) no-repeat center center fixed;
  background-size: cover;
  height:1550px;
  width:auto;
}


.headline {
  margin-top: 0px;
  font-size: 50px;
}

.home-form input {
  font-size: 50px;
  height: 80px;
}

.home-form {
  padding: 10px;
  position: absolute;
  top: 21%;
  left: 10%;
  background-color: white;
  width: 800px;
  height: 800px;
  margin: 0;
  border-radius: 5px;
  font-size: 60px;
  text-align: center;
}

.home-form label{
  display: block;
  text-align: center;
  font-size: 70px;
 }

 .form-button {
   font-size: 50px;
   height: 80px;
   margin-top: 50px;
   display: block;
   width: 100%;
   background-color: #6FC8B8;
 }

.home-form legend {
text-align: center;
font-size: 100px;
}

@media (min-width:600px) { /* big landscape tablets, laptops, and desktops */ 
  .home-form {
    padding: 10px;
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: white;
    width: 20%;
    height: 55%;
    margin: 0;
    border-radius: 5px;
    font-size: 60px;
    text-align: center;
  }

  .home-container {
    background: url(../assets/images/slum.jpeg) no-repeat center center fixed;
    background-size: cover;
    height:600px;
    width:auto;
  }


  .headline {
    margin-top: 0px;
    font-size: 20px;
  }

  .home-form input {
    font-size: 15px;
    height: 30px;
  }

  .home-form label{
    display: block;
    text-align: center;
    font-size: 20px;
   }

   .form-button {
     font-size: 15px;
     height: 30px;
     margin-top: 50px;
     display: block;
     width: 100%;
     background-color: #6FC8B8;
   }

   .home-form p{
    font-size: 20px;
   }

   .home-form a{
    font-size: 20px;
   }

  .home-form legend {
  text-align: center;
  font-size: 20px;
  }

}