.project-tags img {
  height: 200px;
  width: auto;
  }
  
.project-tags li {
  list-style-type: none;
  text-align: center;
  font-size: 40px;

}

.project-container.project-info {
  margin-top: 0px;
}

.project-info {
  margin-top: 15px; 
}
.project-summary {
  height: 83px;
  width: 500px;
  overflow: hidden;
  font-size: 15px;
}

.project-selected{
  border: 1px solid black;
}

.project-summary:after {
  content: '...';
}

.project-info ul{
  text-align: justify;
  list-style-type: none;
  padding-left: 15px;
}

li.row.themeAndButton {
  text-align: center;
  text-decoration: underline;
}

.headline {
  text-align: center;
}

.image-box {
  border: 3px solid white;
  height: 150px;
  width: 183px;
  margin-left: 15px;
  overflow: hidden;
  position: relative;
}

.project-image img{
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  margin: auto;
}

.project-button {
  margin-top: 10px;
  display: center;
  width: 80%;  
  color: black;
  border-color: white;
  background-color: #6FC8B8;
  border-radius: 0px;
  margin-bottom: 10px;
  font-size: 50px;
}
.project-button:hover {
  border-color: black;
  background-color: #6FC8B8;
  color: black;
}

.project-spacer {
  background-color: white;
  height: 30px;
}

.project-container {
  padding: 0;
  height: 325px;
  margin-bottom: 0px;
  text-align: center;
  background-color: #f7f7f7;
}

.project-small-tag {
  height:45px;
  width: auto;
}