body {
  font-family: 'Roboto', sans-serif;
}

nav {
  height: 100px;
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: white;
}

nav h1 {
  margin: 0;
  color: #6FC8B8;
  font-weight: 700;
  font-size: 70px;
}

nav.navbar {
  margin: 0;
}

.navbar-brand{
  text-align: center;
  text-decoration: underline;
}

button:focus{
  outline: 0;
}

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #6FC8B8;
}

.footer img {
  height: 30px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}

.footer p {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 50px;

}

.footer-not-logged p{
  text-align: center;
  margin-top: 10px ;
}


.active-footer p{
  text-decoration: underline;
}

a:hover {
  color: #6FC8B8;
}

a:focus {
  color: #6FC8B8;
}

.footer-1 {
  display: inline-block;
  height: 50px;
  width: 19%;
}
/*.footer-2 {
  height: 50px
}
.footer-3 {
  height: 50px
}
.footer-4 {
  height: 50px
}*/