.theme-positive, .theme-null{
  height:300px;
  width:300px;
}

.theme-tags {
  text-align: justify;
  list-style-type: none;
  padding: 50px;
}
.theme-tags img {
  height: 200px;
  width: auto;
}

.theme-container {
  text-align: center;
}

.theme-positive {
  border: 1px solid #6FC8B8;
  background-color: white;
  border-radius: 3px;
}
.theme-null {
  border: 1px solid white;
  background-color: white;
}

.theme-tags p{
  font-size: 40px;
}
