<br>

<!-- <form ng-submit="projects.donateAmount()">
  Enter text and hit enter:
  <input type="text" ng-model="users.user.donationAmount" name="donation" />
  <input type="submit" id="submit" value="Submit" />
</form> -->

<div class="row container-fluid col-xs-12 col-lg-12 basket-container"ng-repeat="project in projects.userProjects">
 <div class="col-xs-12 col-lg-12 project-container">
   <div class="project-image col-xs-4 col-lg-3 project-info">
     <a ui-sref="projectsShow({id:project._id})">
     <div class="image-box" style="background-image: url({{project.imageLink}})">
     </div>
     </a>
   </div>
   <div class=" col-xs-8 col-lg-5 project-info">
     <ul>
       <li ><strong>{{ project.organization }}</strong></li>
       <li class="project-summary">{{project.summary}}</li>
       <li ><img src="/assets/images/tag-black.png" class="project-small-tag"><strong>{{project.themeName}}</strong></li>
     </ul>
   </div>
   <button type="button" class="btn project-button" ng-if="!projects.checkProject(project._id)" ng-click="projects.addProjectToUser(project)">Add to donations</button>
     <button ng-if="projects.checkProject(project._id)" class="btn project-button project-selected" ng-click="projects.removeProjectFromUser(project)">Remove from donations</button>
     <div class="project-spacer"></div>
 </div>
</div>

<form ng-submit="projects.donateAmount(donation)">
  <div class="row container-fluid col-xs-12 col-lg-12">
    <div class="container-fluid col-xs-2 col-lg-2"></div>
    <div class="btn-group">
      <div class="input-group">
        <span class="input-group-addon">£</span>
        <input type="text" class="form-control" ng-model="donation" name="donation" />
        <span class="input-group-addon">.00</span>
      </div>
    </div>
    <div class="container-fluid col-xs-2 col-lg-2"></div>
    <button type="submit" class="btn project-button project-selected" ui-sref="creditCardForm">Donate</button>
  </div>
</form>
<div class="super-spacer">
  <h1>hello</h1>
</div>
