<h1 class="headline">Projects</h1>

{{users.user.themes}}
<div class="row container-fluid col-xs-12 col-lg-12 project-container"ng-repeat="project in projects.all | filter:'users.user.themes'">
  <div class="container-fluid col-xs-2 col-lg-2"></div>
  <div class="project-image col-xs-12 col-lg-3">
      <img src="{{project.imageLink}}">
    </div>
    <div class=" col-xs-12 col-lg-5 project-info">
      <ul>
        <li class="row"><strong>{{ project.organization }}</strong></li>
        <hr>
        <li class="row">{{project.summary}}</li>
        <li class="row themeAndButton">{{project.themeName}}</li>
        <li><button type="button" class="btn-success project-button"ng-hide="projects.checkProject(project._id)" ng-click="projects.addProjectToUser(project)">ADD</button>
        <button ng-show="projects.checkProject(project._id)" ng-click="projects.removeProjectFromUser(project)">remove</button></li>
      </ul>
    </div>
  <div class="container-fluid col-xs-2 col-lg-2">
  </div>
</div>




