<h1>Projects</h1>
<div class="pure-g" ng-repeat="project in projects.all">
  <div class="pure-u-1-4">
    <img src="{{project.imageLink}}">
    <img src="{{project.logoUrl}}">

  </div>
  <div class="pure-u-3-4">
    <ul>
      <li>{{project._id}}</li>
      <li>{{ project.title }}</li>
      <hr>
      <li>{{project.need}}</li>
      <li>{{project.summary}}</li>
      <li>{{project.themeName}}</li>
      {{ projects.checkProject(project._id) }}
      <button ng-hide="projects.checkProject(project._id)" ng-click="projects.addProjectToUser(project)">ADD</button>
      <button ng-show="projects.checkProject(project._id)" ng-click="projects.removeProjectFromUser(project)">remove</button>
    </ul>
  </div>
</div>




