<h1>DASHBOARD</h1>
<!-- <div class=" container-fluid col-xs-4 col-lg-6 users" ng-repeat="user in users.all">
  <h2>{{user.local.email}}</h2>
</div> -->
<div class="dashboardMainArea" ng-controller="CharitiesController as charities">
  <div id='pieChart'></div>
  <div class=" container-fluid col-xs-4 col-lg-6" ng-repeat="charity in charities.all">
    <h2>{{charity.name}}</h2>
    <h2>{{charities.getTotalVotes(charity)}}</h2>
    <!-- <button ng-click="charities.addVoteToCharity(charity)">Vote</button>   -->
  </div>

  <div class="votingPanel">
    <h1>Voting Area</h1>
    <h1 id="left" ng-class="{red: users.user.local.credit - charities.slider0.value - charities.slider1.value - charities.slider2.value - charities.slider3.value <0}">credit left:{{users.user.local.credit - charities.slider0.value - charities.slider1.value - charities.slider2.value - charities.slider3.value}}</h1>

    <form role="form"  ng-submit="charities.addVoteToCharity(charities.slider0.value, charities.slider1.value, charities.slider2.value, charities.slider3.value)" novalidate class="form-group">
      <h2>{{charities.all[0].name}}</h2>
      <h1>donate:</h1><input ng-model='charities.slider0.value' ></input>
      <div>
          <rzslider rz-slider-model='charities.slider0.value' rz-slider-options="charities.slider0.options"></rzslider>
      </div>

      <h2>{{charities.all[1].name}}</h2>
      <h1>donate:</h1><input ng-model='charities.slider1.value' ></input>
      <div>
          <rzslider rz-slider-model='charities.slider1.value' rz-slider-options="charities.slider1.options"></rzslider>
      </div>

      <h2>{{charities.all[2].name}}</h2>
      <h1>donate:</h1><input ng-model='charities.slider2.value' ></input>
      <div>
          <rzslider rz-slider-model='charities.slider2.value' rz-slider-options="charities.slider2.options"></rzslider>
      </div>

      <h2>{{charities.all[3].name}}</h2>
      <h1>donate:</h1><input ng-model='charities.slider3.value' ></input>
      <div>
          <rzslider rz-slider-model='charities.slider3.value' rz-slider-options="charities.slider3.options"></rzslider>
      </div>


<!--       <button ng-if='users.user.local.credit - charities.slider0.value - charities.slider1.value - charities.slider2.value - charities.slider3.value === 0' type="submit" class="form-button">Vote</button>
      <h1 ng-if='users.user.local.credit - charities.slider0.value - charities.slider1.value - charities.slider2.value - charities.slider3.value < 0'>Used too much credit, re-distribute your votes!</h1>
      <h1 ng-if='users.user.local.credit - charities.slider0.value - charities.slider1.value - charities.slider2.value - charities.slider3.value > 0'>You still have {{users.user.local.credit - charities.slider0.value - charities.slider1.value - charities.slider2.value - charities.slider3.value}} credits left to distribute!</h1> -->

      <button type='submit'></button>


    </form>
  </div>
</div>


 
<!-- <h1> w</h1>
<h1> w</h1>
<h1> w</h1>
<h1> w</h1>
<h1> w</h1>
<h1>credit left:</h1><input id="left"></input>
<h1>donate:</h1><input id="donate"></input>
<div class="slider"></div>
 -->

