.basket-image img {
  vertical-align: middle;
  height: 60px;
  width: auto;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.basket-info ul{
  text-align: center;
  list-style-type: none;
}

.basket-container.basket-info {
  margin-top: 0px;
}

.super-spacer{
  height: 200px;
  color: white;
}