.home-container {
  background: url(../assets/images/slum.jpeg) no-repeat center center fixed;
  background-size: cover;
  height:500px;
  width:auto;
}

.headline {
  margin-top: 0px;
  text-decoration: underline;
}


.home-form {
  padding: 10px;
  position: absolute;
  top: 30%;
  left: 60px;
  background-color: #E7E7E7;
  width: 300px;
  margin: 0;
  border-radius: 5px;
}

.home-form label{
  display: block;
  text-align: center;
 }

.home-form legend {
text-align: center;
}