.home-container {
  background: url(../assets/images/dessert.jpeg) no-repeat center center fixed;
  background-size: cover;
  height:690px;
  width:auto;
}

.headline {
  margin-top: 0px;
  text-decoration: underline;
}

.footer-not-logged p{
  text-align: center;
  margin-top: 10px ;
}

#login {
  background-color: green;
  width: 300px;
  margin: 0 auto;
}