.project-tags img {
  height: 40px;
  width: auto;
}
.project-tags li {
  list-style-type: none;
}

.project-container.project-info {
  margin-top: 0px
}

.project-info ul{
  list-style-type: none;
}

li.row.themeAndButton {
  text-align: center;
  text-decoration: underline;
}

.headline {
  text-align: center;
}

.project-image img{
  border-radius: 3px;
  margin-top: 20px;
}

.project-button {
  display: block;
  width: 100%;
}

.project-container {
  margin-bottom: 0px;
  text-align: center;
}