nav.navbar {
  margin: 0;
}

button:focus{
  outline: 0;
}

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #e7e7e7
}

.footer img {
  height: 30px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}

.footer p {
  text-align: center;
}

.form-button {
  margin-top: 10px;
  margin
  display: block;
  width: 100%;
}


.footer-1 {
  height: 50px
}
.footer-2 {
  height: 50px
}
.footer-3 {
  height: 50px
}
.footer-4 {
  height: 50px
}