nav.navbar {
  margin: 0;
}

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: red;
}

.footer-1 {
  background-color: blue;
  height: 50px
}
.footer-2 {
  background-color: yellow;
  height: 50px
}
.footer-3 {
  background-color: black;
  height: 50px
}
.footer-4 {
  background-color: blue;
  height: 50px
}